<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dsu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconn_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tsem6"></activity>
        <activity android:name=".tmp" />
        <activity android:name=".tins" />
        <activity android:name=".tbda" />
        <activity android:name=".tsem5" />
        <activity android:name=".tst" />
        <activity android:name=".tawp" />
        <activity android:name=".tdbms" />
        <activity android:name=".tooad" />
        <activity android:name=".tcgm" />
        <activity android:name=".tsem4" />
        <activity android:name=".tos" />
        <activity android:name=".tada" />
        <activity android:name=".tnm" />
        <activity android:name=".tcn" />
        <activity android:name=".tse" />
        <activity android:name=".thci" />
        <activity android:name=".tsem3" />
        <activity android:name=".tpop" />
        <activity android:name=".ten2" />
        <activity android:name=".tco2" />
        <activity android:name=".tm2" />
        <activity android:name=".tsem2" />
        <activity android:name=".twp" />
        <activity android:name=".tafm" />
        <activity android:name=".ten1" />
        <activity android:name=".tfop" />
        <activity android:name=".tm1" />
        <activity android:name=".tco1" />
        <activity android:name=".tsem1" />
        <activity android:name=".vmp" />
        <activity android:name=".vins" />
        <activity android:name=".vbda" />
        <activity android:name=".vcgm" />
        <activity android:name=".vst" />
        <activity android:name=".vawp" />
        <activity android:name=".vdbms" />
        <activity android:name=".vooad" />
        <activity android:name=".vada" />
        <activity android:name=".vnm" />
        <activity android:name=".vos" />
        <activity android:name=".vcn" />
        <activity android:name=".vse" />
        <activity android:name=".vpop" />
        <activity android:name=".ven2" />
        <activity android:name=".vco2" />
        <activity android:name=".vm2" />
        <activity android:name=".vafm" />
        <activity android:name=".veng1" />
        <activity android:name=".vco" />
        <activity android:name=".vwp" />
        <activity android:name=".vfop" />
        <activity android:name=".qpmp" />
        <activity android:name=".qpins" />
        <activity android:name=".qpbda" />
        <activity android:name=".qpcgm" />
        <activity android:name=".qpst" />
        <activity android:name=".qpawp" />
        <activity android:name=".qpdbms" />
        <activity android:name=".qpooad" />
        <activity android:name=".qpos" />
        <activity android:name=".qpada" />
        <activity android:name=".qpnm" />
        <activity android:name=".qpcn" />
        <activity android:name=".qphci" />
        <activity android:name=".mp" />
        <activity android:name=".ins" />
        <activity android:name=".bda" />
        <activity android:name=".iwa" />
        <activity android:name=".cgm" />
        <activity android:name=".st" />
        <activity android:name=".awp" />
        <activity android:name=".dbms" />
        <activity android:name=".ooad" />
        <activity android:name=".os" />
        <activity android:name=".ada" />
        <activity android:name=".nm" />
        <activity android:name=".cn" />
        <activity android:name=".se" />
        <activity android:name=".hci" />
        <activity android:name=".pop" />
        <activity android:name=".en2" />
        <activity android:name=".co2" />
        <activity android:name=".m2" />
        <activity android:name=".co1" />
        <activity android:name=".afm" />
        <activity android:name=".fop" />
        <activity android:name=".Callender" />
        <activity android:name=".vm1" />
        <activity android:name=".qpen2" />
        <activity android:name=".qpco2" />
        <activity android:name=".qpm2" />
        <activity android:name=".qpse" />
        <activity android:name=".qppop" />
        <activity android:name=".qpen1" />
        <activity android:name=".qpafm" />
        <activity android:name=".qpwp" />
        <activity android:name=".qpco" />
        <activity android:name=".qpfop" />
        <activity android:name=".qp_m1" />
        <activity android:name=".eng1" />
        <activity android:name=".WP" />
        <activity android:name=".SSem6" />
        <activity android:name=".SSem5" />
        <activity android:name=".SSem4" />
        <activity android:name=".SSem3" />
        <activity android:name=".SSem2" />
        <activity android:name=".SSem1" />
        <activity android:name=".Syllubus" />
        <activity android:name=".LINKS" />
        <activity android:name=".VSem6" />
        <activity android:name=".VSem5" />
        <activity android:name=".VSem4" />
        <activity android:name=".VSem3" />
        <activity android:name=".VSem2" />
        <activity android:name=".VSem1" />
        <activity android:name=".VIDSem" />
        <activity android:name=".QPSem5" />
        <activity android:name=".QPSem6" />
        <activity android:name=".QPSem4" />
        <activity android:name=".QPSem3" />
        <activity android:name=".QPSem2" />
        <activity android:name=".QPSem1" />
        <activity android:name=".QPSem" />
        <activity android:name=".StudyMaterial" />
        <activity android:name=".Sem6" />
        <activity android:name=".Sem5" />
        <activity android:name=".sem4" />
        <activity android:name=".Sem3" />
        <activity android:name=".Sem2" />
        <activity android:name=".MainActivity5" />
        <activity android:name=".MainActivity4" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>